body {
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size:14px;
    padding:0px;
		padding-left:50px;
    margin:0px;
    background:#f5f5f5
}

 
div.content {
    padding:10px 20px;
}
div.content h1 {
    font-size:18pt;
    border-bottom:5px solid #a00;
    padding:0px;
    margin:10px 0px 20px;
    width:80%;
}
 
div.content div.data table {
    border:2px solid #000;
    background:#fff;
    width:80%;
}
div.content div.data table td {
    font-size:10pt;
    padding:5px 10px;
    border-bottom:1px solid #ddd;
    text-align: left;
}

div.content div.data table th {
    text-align: left;
    font-size: 8pt;
    padding: 10px 10px 7px;
    text-transform: uppercase;
   /* color: #fff;
    background:url(images/head.gif) left -5px repeat-x;*/
}


div.content div.data table tr:nth-child(even){
		background: #dae5f4;
	}

div.content div.data table tr:nth-child(odd){
		background: #b8d1f3;
	}
	
	

div.content div.search table {
    border:2px solid #000;
    background:#fff;
    width:30%;
}
div.content div.search table td {
    font-size:10pt;
    padding:5px 10px;
    border-bottom:1px solid #ddd;
    text-align: right;
}

div.content div.search table th {
    text-align: left;
    font-size: 8pt;
    padding: 10px 10px 7px;
    text-transform: uppercase;
   /* color: #fff;
    background:url(images/head.gif) left -5px repeat-x;*/
}

 
div.content div.search table tr:nth-child(even){
		background: #dae5f4;
	}

div.content div.search table tr:nth-child(odd){
		background: #b8d1f3;
	}
 
div.paging {
    font-size: 9pt;
    margin:5px 0px;
}
div.paging a {
    color:#900;
    text-transform: uppercase;
    text-decoration: none;
}
div.paging a:hover {
    color:#c00;
}
div.paging b {
    color:#900;
}
 
div.success {
    font-size:14pt;
    background:url(images/accept.png) left 5px no-repeat;
    padding:0px;
    padding-left:20px;
    margin:0px 0px 10px;
    color:#060;
    width:80%;
}
 
a.update, a.delete, a.add, a.view, a.back {
    font-size: 9pt;
    color:#900;
    font-weight:bold;
    padding-left:20px;
    text-decoration: none;
}
a.update {
    background:url(images/update.png) left center no-repeat;
}
a.delete {
    background:url(images/delete.png) left center no-repeat;
}
a.add {
    background:url(images/add.png) left center no-repeat;
}
a.view {
    background:url(images/view.png) left center no-repeat;
}
a.back {
    background:url(images/prev.gif) left center no-repeat;
}
a.update:hover, a.delete:hover, a.add:hover, a.view:hover {
    color:#000;
}
 
input.text {
    border:2px solid #aaa;
}
 
.error {
    background: #FBE6F2 none repeat scroll 0 0;
    border: 1px solid #D893A1;
    color: #333333;
    margin: 5px 0 0;
    padding: 5px;
    font-size: 12px;
    font-family: Lucida Grande,Verdana,Geneva,Sans-serif;
}





form ol{
	list-style:none;
	margin: 0;
	padding: 0;
}

form li {
	clear: both;
	margin: 0 0 .75em;	
	padding: 0;
}

label {
	display: block;
/*	
	float:left;	
	line-height:1.6;
	margin-right:10px;
	text-align:right;
	width:120px;
*/
}

input {
	width: 250px;	
}


div.calendar table {
    border:2px solid #000;
    background:#fff;
    width:100%;
}
div.calendar table td {
    font-size:10pt;
    
    border-bottom:1px solid #ddd;
    text-align: left;
	width:14%;
	vertical-align:top;
}
div.calendar table th {
    text-align: left;
    font-size: 8pt;
    	
    text-transform: uppercase;
   /* color: #fff;
    background:url(images/head.gif) left -5px repeat-x;*/
}

